<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Web Page Title</title>
		    <meta name="keywords" content="web page keywords" />
		    <meta name="description" content="web page description" />
		    <link rel="canonical" href="" />      
    </head>
    <body>
        <header>
			    <div class="wrapper">
				    <h1>Web Site Title</h1>
			    </div>            
        </header>
        <main>
          <h2>Web Page Title</h2>
          <p>web page introduction</p>
          ... more content ...
        </main>
        <aside>
          ... content ...
        </aside>         
        <footer>
           ... content ...
        </footer>
    </body>
</html>
